/* --- Start of mask for sms asset placed onto the grid --- */
/* Tailwindcss --- XL --- */
@media screen and (min-width: 80rem) {
  .mask-notifications {
    overflow: clip;
    position: absolute;
    bottom: 0;
    right: -3em;
    width: 35%;
    height: 125%;
    border-radius: 1rem;
  }
}
/* --- End of sms's mask --- */

/* --- Start of mask for sms asset placed onto the grid --- */
.mask-sms {
  overflow: clip;
  position: absolute;
  bottom: 0;
  right: 5%;
  width: calc(100vw - 16px);
  height: 55%;
}
/* Tailwindcss --- MD --- */
@media screen and (min-width: 48rem) {
  .mask-sms {
    height: 55%;
    right: 0;
    border-radius: 1rem;
    border-bottom: 1px solid
      linear-gradient(
        var(--color-primary-bg) 30%,
        var(--color-primary-800) 100%
      );
  }
}
/* Tailwindcss --- LG --- */
@media screen and (min-width: 64rem) {
  .mask-sms {
    height: 60%;
  }
}
/* Tailwindcss --- XL --- */
@media screen and (min-width: 80rem) {
  .mask-sms {
    width: 120%;
    height: 60%;
  }
}
/* Between XL & 2XL */
@media screen and (min-width: 90rem) {
  .mask-sms {
    width: 120%;
    height: 70%;
  }
}
/* Tailwindcss --- 2XL --- */
@media screen and (min-width: 96rem) {
  .mask-sms {
    width: 120%;
    height: 70%;
  }
}
/* --- End of sms's mask --- */

/* --- Start of mask for fingerprint asset placed onto the grid --- */
.mask-fingerprint {
  overflow: clip;
  position: absolute;
  top: 40%;
  right: 0;
  left: 10%;
  width: 100%;
  height: 100%;
}
/* Tailwindcss --- LG --- */
@media screen and (min-width: 64rem) {
  .mask-fingerprint {
    top: 20%;
    left: 35%;
  }
}
/* Tailwindcss --- XL --- */
@media screen and (min-width: 80rem) {
  .mask-fingerprint {
    top: 25%;
    left: 45%;
  }
}
/* Between XL & 2XL */
@media screen and (min-width: 90rem) {
  .mask-fingerprint {
    top: 15%;
    left: 45%;
  }
}
/* Tailwindcss --- 2XL --- */
@media screen and (min-width: 96rem) {
  .mask-fingerprint {
    top: 0%;
    left: 45%;
  }
}
/* --- End of fingerprint's mask --- */

/* --- Start of mask for apps asset placed onto the grid --- */
.mask-apps {
  overflow: clip;
  position: absolute;
  top: 55%;
  right: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}
/* Tailwindcss --- LG --- */
@media screen and (min-width: 64rem) {
  .mask-apps {
    left: 28%;
    top: 20%;
  }
}
/* Tailwindcss --- XL --- */
@media screen and (min-width: 80rem) {
  .mask-apps {
    left: 28%;
    top: 20%;
  }
}
/* Between Xl and 2XL */
@media screen and (min-width: 90rem) {
  .mask-apps {
    left: 28%;
    top: 15%;
  }
}
/* --- End of apps' mask --- */
