#projects {
    background-color: #212121;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.project-card {
    display: flex;
    flex-direction: column;
    height: 403px;
    width: 325px;
    background-color: #2a2a2a;
    box-shadow: 4px 4px 15px 0px black;
}

.project-card-header {
    border-bottom: 1px solid #717171;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
}

.project-card-title {
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin: 0;
}

.project-card-rectangle {
    width: fit-content;
    height: fit-content;
    background-color: #191919;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.project-status-circle {
    width: 10px;
    height: 10px;
    border-radius: 999px;
}

.project-status {
    font-size: 14px;
    font-weight: 100;
    margin: 0;
}

.project-card-body {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: end;
}

.project-card-body > p {
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    letter-spacing: 5%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5; /* Number of lines to display before truncating */
    line-height: 1.5em; /* Optional: controls the height of each line */
    max-height: calc(1.5em * 5);
}

.project-card-body > img {
    width: 265px;
    height: auto;
}
