#services {
    padding: 0;
}

#services h3 {
    text-align: center;
}

.header--services {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-catchphrase--services {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
}

.container-catchphrase--services > * {
    font-weight: 100;
    font-style: italic;
    text-align: center;
}

.container-catchphrase--services p {
    font-size: 1rem;
}

.container-catchphrase--services span {
    font-size: 0.9rem;
}

.container--services {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (min-width: 600px) {
    #services h3 {
        padding-left: 40px;
        text-align: left;
    }

    .container-catchphrase--services {
        padding: 30px 50px;
    }

    .container--services {
        gap: 50px;
    }

    .container-catchphrase--services p {
        font-size: 1.05rem;
    }

    .container-catchphrase--services span {
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px) {
    #services h3 {
        padding-left: 75px;
    }

    .container-catchphrase--services p {
        font-size: 1.1rem;
    }

    .container-catchphrase--services span {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    #services h3 {
        padding-top: 50px;
        padding-left: 150px;
    }

    .container-catchphrase--services {
        padding: 30px 150px;
    }

    .container-catchphrase--services p {
        font-size: 1.3rem;
    }

    .container-catchphrase--services span {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1536px) {
    #services h3 {
        padding-top: 100px;
    }

    .header--services {
        gap: 150px;
    }

    .container-catchphrase--services {
        padding: 50px 100px 50px 100px;
        gap: 60px;
    }

    .container-catchphrase--services p {
        font-size: 2rem;
    }

    .container-catchphrase--services span {
        font-size: 1.7rem;
    }

    .container--services {
        padding: 0px 50px 0 50px;
    }
}
