.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 0px 20px;
    position: fixed;
    background-color: var(--background-theme);
    z-index: 99;
    /* box-shadow: 0 1px 10px 0px black; */
}

.logo {
    height: 20px;
    width: auto;
}

.links {
    display: none;
}

.links-container {
    margin-top: auto;
    margin-bottom: auto;    
}

.links--mobile {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 20px;
}

.links--mobile p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    padding-right: 20px;
}

.links * {
    text-align: right;
    width: 100%;
    cursor: pointer;
}

.socials {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 20px 20px 0 0;
}
.socials img {
    width: fit-content;
} 

@media screen and (min-width: 900px) {
    .toolbar {
        padding: 0px 0px 0px 35px;
    }

    .links {
        display: flex;
        width: 50%;
    }

    .links-container p {
        width: fit-content;
        font-size: 1.7vw;
    }

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .links--mobile, .socials-container, .socials {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        height: 30px;
    }
}

@media screen and (min-width: 1536px) {
    .logo {
        height: 55px;
    }

    .toolbar {
        padding: 0px 100px 0px 100px;
    }

    .logo {
        font-size: 1vw;
        padding: 10px;
    }

    .links-container p {
        width: fit-content;
        font-size: 1.2vw;
    }
}