@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: Lora;
  src: url("../assets/fonts/Lora/Lora-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: Lobster;
  src: url("src/ui/assets/fonts/Lobster/Lobster-Regular.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --color-primary-900: #1f1e39;
  --color-primary-800: #2d2b52;
  --color-primary-600: #494584;
  --color-primary-500: #57529d;
  --color-primary-400: #726ead;
  --color-primary-300: #8d89bc;
  --color-primary-200: #a8a5cc;
  --color-primary-100: #c3c1dc;
  --color-primary-50: #d0cfe4;
  --color-primary-bg: #141539;
  --color-primary-ascent: #7c00f0;
  --font-title: "Lora", serif;
  --font-body: "Inter", sans-serif;
  --font-ascent: "Lobster", sans-serif;
  --text-2xs: 10px;
  --breakpoint-1-2xl: 90rem;
  --animate-fadeIn: fadeIn 0.3s ease-out;
}

@layer base {
  html {
    @apply bg-primary-bg font-body m-0 overflow-x-hidden p-0 font-light tracking-[-2%] text-white;
  }
  body {
    @apply overflow-x-hidden;
  }
}
